*.pyc
__pycache__
.ipynb_checkpoints

saved*

temp

data

data_old

amazon
src/train/retrieval/datasets
src/train/retrieval/output

emb

temp.py
claude_api_aws.key
openai_api_azure.key
openai_api.key

checkpoints
output/
logs/.nfs0000000280cbfd2d00000a93
